
datasets/intermediate/
datasets/processed/
datasets/final/
**/__pycache__/
.idea/
.vscode/
*.pyc
*.parquet
*.pkl
*.h5
*.joblib


*.zip
*.tar
*.gz
*.7z
*.rar


venv/
env/
.venv/
ENV/


*.log
logs/


.ipynb_checkpoints/
*.ipynb_checkpoints